<?xml version="1.0" encoding="utf-8"?>
<image schemaversion="8.0" name="pensuse-m0-iso" displayname="PenSUSE Live">
  <description type="system">
    <author>PenSUSE Contributors</author>
    <contact>project maintainers</contact>
    <specification>PenSUSE M0 bootable ISO for USB/Ventoy testing</specification>
  </description>
  <preferences>
    <type image="iso" filesystem="squashfs" firmware="uefi" eficsm="true"
          kernelcmdline="quiet splash"/>
    <version>0.0.1</version>
    <packagemanager>zypper</packagemanager>
    <locale>en_US</locale>
    <keytable>us</keytable>
    <bootloader-theme>PenSUSE</bootloader-theme>
    <bootsplash-theme>pensuse</bootsplash-theme>
  </preferences>
  <!-- The password placeholder is replaced only in a local build config. -->
  <users>
    <user name="pensuse" groups="wheel" home="/home/pensuse" shell="/bin/zsh"
          realname="PenSUSE Operator" password="__PENSUSE_LIVE_PASSWORD_HASH__"
          pwdformat="encrypted"/>
  </users>
  <repository type="rpm-md" alias="openSUSE-Leap-16.0-OSS">
    <source path="https://download.opensuse.org/distribution/leap/16.0/repo/oss/"/>
  </repository>
  <repository type="rpm-md" alias="PenSUSE-X11-Wayland-Leap-16">
    <source path="https://download.opensuse.org/repositories/X11:/Wayland/16.0/"/>
  </repository>
  <repository type="rpm-md" alias="PenSUSE-Base-System-Leap-16">
    <source path="https://download.opensuse.org/repositories/Base:/System/16.0/"/>
  </repository>
  <repository type="rpm-md" alias="PenSUSE-M17N-Fonts-Leap-16">
    <source path="https://download.opensuse.org/repositories/M17N:/fonts/16.0/"/>
  </repository>
  <packages type="image">
    <package name="systemd"/>
    <package name="btrfsprogs"/>
    <package name="snapper"/>
    <package name="podman"/>
    <package name="selinux-policy-targeted"/>
    <package name="zsh"/>
    <package name="git"/>
    <package name="iproute2"/>
    <package name="wicked"/>
    <package name="curl"/>
    <package name="tar"/>
    <package name="squashfs"/>
    <package name="util-linux"/>
    <package name="dracut-kiwi-live"/>
    <package name="glibc-locale-base"/>
    <package name="kernel-default"/>
    <package name="grub2"/>
    <package name="grub2-i386-pc"/>
    <package name="grub2-x86_64-efi"/>
    <package name="sway"/>
    <package name="swayidle"/>
    <package name="swaylock"/>
    <package name="foot"/>
    <package name="fuzzel"/>
    <package name="mako"/>
    <package name="wl-clipboard"/>
    <package name="grim"/>
    <package name="slurp"/>
    <package name="xwayland"/>
    <package name="greetd"/>
    <package name="greetd-branding-upstream"/>
    <package name="tuigreet"/>
    <package name="plymouth"/>
    <package name="plymouth-branding-upstream"/>
    <package name="plymouth-plugin-script"/>
    <package name="plymouth-dracut"/>
    <package name="google-noto-sans-fonts"/>
    <package name="google-noto-sans-mono-fonts"/>
    <package name="google-noto-sans-symbols2-fonts"/>
  </packages>
  <packages type="bootstrap">
    <package name="bash"/>
    <package name="filesystem"/>
    <package name="rpm"/>
    <package name="zypper"/>
    <package name="ca-certificates"/>
    <package name="ca-certificates-mozilla"/>
  </packages>
</image>
