# Local build outputs
/pensuse
/build/
/pensuse.zip
/image/kiwi-iso/root/usr/bin/pensuse
/image/kiwi-iso/root/usr/bin/pensuse-m0-check
/image/kiwi-iso/config.generated.xml
/image/kiwi-iso/root/usr/share/zsh/site-functions/_pensuse
/image/kiwi-iso/root/usr/share/bash-completion/completions/pensuse
/image/kiwi-iso/root/usr/share/grub2/themes/PenSUSE/background.png
/image/kiwi-iso/root/usr/share/plymouth/themes/pensuse/logo.png
/image/kiwi-iso/root/usr/share/pensuse/branding/logo.png
/image/kiwi-iso/root/usr/share/backgrounds/pensuse/pensuse-3840x2160.png
/image/kiwi-iso/root/usr/share/licenses/pensuse-branding/LICENSE

# Go caches and local workspace state
/.cache/
/tmp/

# Editor and OS files
.DS_Store
*.swp
*.pyc
__pycache__/
